article {
  max-width: 75%;
  border: solid black .18em;
  padding: 5%;
  height: 10em;
  padding-top:2%;
}

article div p {
  display: block;
  float: left;
  max-width: 30%;
}

article div > img {
  display: inline-block;
  float: right;
  width: 20%;
  height: 20%;
  border: solid black .18em;
}