
.loc {
  max-width: 100%;
  padding: 5%;
  height: 15em;
  padding-top:2%;
}

.info {
  display: block;
  float: left;
  max-width: 30%;
  margin-right: 10%;
}


.loc img {
  display: inline-block;
  float: right;
  width: 50%;
  height: 70%;
  margin-top: 5%;
}