

article {
  max-width: 60%;
  border: solid black .18em;
  padding: 5%;
  height: 13em;
  padding-top:1%;
  font-family: 'Slabo 13px', serif;
}

article div {
  display: block;
  float: left;
  max-width: 30%;
  margin-right: 10%;
}

article img {
  display: inline-block;
  float: left;
  width: 40%;
  height: 78%;
  border: solid black .18em;
}