h1 {
  position: absolute?;
}

div#story {
  width: 27%;
  float: left;
}

div#mission {
  width: 27%;
  float: left;
}

div#contact {
  width: 27%;
  float: left;
}
/*
footer {
  display: block;
  margin: 0 auto 0 auto;
}*/
